body {
    background-color: #fff;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    
}
.main{
     background-color: #fff;
    margin-left: 150px;
    margin-right: 150px;
    align-content: center;
    border: 0px solid gray;
     counter-reset: list;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.small-container{
    width: 40%;
    height: auto;
    margin-top: 10px;
    display: block;
    background-color: whitesmoke;
    border: 1px solid #eeeeee;
    align-self: center;
    margin-left: 100px;
    padding: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.small-container ul{
    list-style-type: none;
     cursor: pointer;
     font-weight: bold;
    
}
.small-container ul li{
    list-style: none;
     font-weight: bold;
    margin-top: 8px;
}
.small-container ul li:hover{
     cursor: pointer;
    display: block;
    background-color: gainsboro;
    border: 2px solid #ededed;
    
}
.small-container li::before {
    margin: 4px;
    counter-increment: list;
    content: "" counter(list) ": ";
    
}

.counterDisplay{
    content: "" counter(list) ": ";
}
h1 {
    color: blue;
}
p {
    color: black;
    
}
.mynav{
    background-color: white;
    height: 30px;
    width: 100%;
}
.mynav ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    width: auto;
    font-size: 20px;
    background-color: #333;
}

.mynav li {
    float: left;
}

.mynav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 50px;
    text-decoration: none;
}


.mynav li a:hover:not(.active) {
    background-color:limegreen;
    font-size: 25px;
}
.active {
    background-color: #4CAF50;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
header{
    background-color: white;
    height:auto;
    width: auto;
}
.header1{
    height: 200px;
    width: auto;
    margin-top: 1px;
    background-image: url("../image/header.jpeg");
    background-repeat: repeat;
    margin-bottom: 1px;
}

#itemDisplay{
    width: 80%;
    height: auto;
    margin: 0px;
}
footer{
    background-color: black;
    color: white;
    width:auto;
    height: 50px;
    margin-bottom: 2px;
}
.ClearButton{
    background-color: brown;
    color: white;
    width:90px;
    align-content: center;
    height: 30px;
    margin-bottom: 2px;
    
}
.ClearButton:hover{
    background-color: red;
    color: white;
    width: 110px;
    box-shadow: 2px;
    
}

.outerDiv{
    width: auto;
    height: auto;
    margin: 2px;
    border: 0px solid black;
    background-color:white;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.innerDiv{
    width: 32%;
    height: 400px;
    margin-left: 8px;
    border: 1px solid gray;
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 1px 1px #ccc;
}
